body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
.header {
  padding: 2px;
  display: flex;

  margin-bottom: 10px;
  flex: 1;
  justify-content: space-between;
}

.logo {
  width: 60px;
}

.nav-list {
  margin-right: 1rem;
}

.nav-list > ul {
  display: flex;
  gap: 2rem;
}

.nav-list > ul > li {
  list-style: none;
}

.search-container {
  padding: 10px;
  margin: auto;
  width: 20%;
  display: flex;
  justify-content: space-around;
}
.search-btn {
  cursor: pointer;
}

.search-container > input {
  width: 80%;
}

.res-container {
  align-content: center;
  padding: 10px;
  flex-wrap: wrap;
  display: flex;
  gap: 3rem;
  font-family: sans-serif;
}

.res-card-box {
  height: 346px;
  width: 296px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.res-other-details {
  display: flex;
  gap: 1rem;
}

.res-other-details > span {
  color: #686b78;
  font-size: 13px;
  margin-top: 4px;
}
.res-item {
  /* height: wrap-content; */
  padding: 5px;
  /* border: solid 1px black; */
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.res-item > span {
  color: #686b78;
  font-size: 13px;
  margin-top: 4px;
}

.res-item-title {
  margin-bottom: 0px;
  font-size: 17px;
  font-weight: 700;
  word-break: break-word;
}
.res-item-cusine {
  margin-top: 2px;
  font-size: smaller;
  font-weight: 500;
}

.res-item:hover {
  border: 1px solid #d8d4d4;
  cursor: pointer;
}
.res-item > img {
  width: 100%;
  border-radius: 10%;
}

.shimmer-container {
  align-content: center;
  padding: 10px;
  flex-wrap: wrap;
  display: flex;
  gap: 3rem;
}

.shimmer-card {
  background-color: #dfe0e4;
  height: 296px;
  width: 291px;
}

.res-item-quick-view {
  margin-top: 2px;
  flex-direction: column;
  justify-content: center;
  display: none;
}
.res-item-quick-view:hover {
  display: flex;
}

.res-item-quick-view > hr {
  margin: 10px;
  font-weight: 2000;
}
.res-item-quick-view-title {
  margin: 0 auto;
}

.filters {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}
.top-rated-res-container {
  padding: 10px;
  margin: auto;
  width: 20%;
}
.top-rated-res-btn {
  width: 100%;
  background-color: #ffffff;
}
.top-rated-res-btn:hover {
  cursor: pointer;
  background-color: #d8d4d4;
}
.filters > * {
  margin: 0 auto;
}

.res-menu-container {
  display: flex;
  flex-direction: column;
}

.res-menu-body {
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  flex-direction: column;
  flex-wrap: wrap;
}

.res-menu-body-info-container > ul {
  list-style: none;
  font-family: sans-serif;
  padding: 0px;
  margin: 0px;
}

.res-menu-item-container {
  width: 100%;
  height: 200px;
  gap: 2rem;
  display: flex;
  justify-content: space-between;
}

.res-menu-item-container > img {
  margin: auto 0;
  width: 25%;
  height: 80%;
  border-radius: 10%;
}

.res-menu-item-info-name {
  font: bold;
  font-weight: 1000;
}

.user-container {
  width: 50%;
  display: flex;
  border: 1px solid #ccc;
  justify-content: space-between;
  padding: 2rem;
  background-color: #f5f7fd;
}

.user-image {
  margin: 0 auto;
}

.user-img {
  width: 20%;
  height: 35%;
  border-radius: 20%;
  flex-direction: row;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 80%;
}
