
.header{
	padding: 2px;
	display:  flex;
	border: solid 1px black;
	margin-bottom: 10px; 
	flex: 1;
	justify-content: space-between;
}

.logo {
	width: 200px;
}

.nav-list{
	margin-right: 1rem;
}

.nav-list > ul {
	display: flex;
	gap : 2rem;
}

.nav-list > ul > li {
	list-style: none;

}

.search-container {
	padding: 10px;
	margin: auto;
	width: 20%;
}

.search-container > input {
	width: 100%;
}

.res-container {
	margin: 20px;
	flex-wrap: wrap;
	display: flex;
	gap : 2rem;
	
}

.res-item {
	width: 200px;
	/* height: wrap-content; */
	padding: 5px;
	/* border: solid 1px black; */
	/* display: flex; */
	flex-wrap: wrap;
	/* flex-direction: column; */
	background-color: aqua;
}

.res-item:hover {
	border: 1px solid black;
}
.res-item > img {
	width: 100%;
}

